<!-- (selectedIndexChange)="selected.setValue($event)" -->

<ngx-ui-loader [loaderId]="'load-buzon'"></ngx-ui-loader>

<div class="row" *ngIf="bFrm">

  <div class="col-md-10">
    <h3 class="modal-title text-blue" id="modal-basic-title">Detalles generales del reporte</h3>
  </div>
  <div class="col-md-2 text-right">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="historial">
        <mat-icon class="texto-gray">history</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="close" (click)="hideFrm()">
        <mat-icon class="texto-gray">close</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>



  <div class="col-md-12 " style="padding: 15px; width: 100%;">
    <app-expedientes></app-expedientes>
  </div>
</div>








<div class="row" *ngIf="!bFrm">
  <div class="col-md-12">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="seleccionNavegacion($event)">
      <mat-tab *ngFor="let tab of tabs; let i = index" [label]="tab">
        <mat-selection-list style="padding: 15px; width: 100%;">
          <mat-list *ngFor="let e of bzBuzon[i+1]; let j=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">
              <div class="col-md-1">
                <button mat-icon-button aria-label="Visibilidad" class="text-grey" *ngIf="bR"
                  (click)="openDialog(observacion, e.idd, 0)" id="procesados">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button aria-label="Visibilidad" class="text-primary" *ngIf="bP"
                  (click)="viewFrm(observacion, e, 0, i, j)" id="procesados">
                  <mat-icon>edit</mat-icon>&nbsp;Editar
                </button>
                <button mat-icon-button aria-label="Hecho" class="text-green" *ngIf="bC">
                  <mat-icon>done_all</mat-icon>&nbsp;
                  <font color="green" class="text-green">Hecho</font>
                </button>
              </div>

              <div class="col-md-2 texto-lista">
                <font color="brown">{{ setCodigo(e.idd) }}</font>

              </div>

              <div class="col-md-6 texto-detalle">
                {{ e.tdoc | uppercase }} - {{ (e.cont.length>32)? (e.cont | uppercase | slice:0:128)+'...':(e.cont)}}
              </div>
              <div class="col-md-2 text-right texto-detalle">
                {{ e.fcre | date:"dd/MM/yyyy" }}
              </div>
              <div class="col-md-1 text-right ">
                <button mat-icon-button aria-label="Privado" (click)="openDialog(detalle, e, 1)">
                  <mat-icon class="text-grey" *ngIf="e.inst==''"
                    style="font-size: 27px;margin-top: 2px;">preview</mat-icon>
                  <mat-icon class="text-grey" *ngIf="e.inst!=''" matBadge="!" matBadgeOverlap="false"
                    class="demo-section" matBadgeColor="primary"
                    style="font-size: 27px;margin-top: 2px;">preview</mat-icon>
                </button>
              </div>

            </div>
          </mat-list>

        </mat-selection-list>


      </mat-tab>
      <!-- <mat-tab label="NOTIFICACIONES"  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
        <mat-list >

        </mat-list>
      </mat-tab> -->
    </mat-tab-group>

  </div>
</div>

<ng-template #observacion let-modal>

  <h4 class="modal-title text-blue" id="modal-basic-title">Acciones Generales</h4>


  <div class=" col-md-12">

    <mat-form-field appearance="outline">
      <mat-label>Observaciones</mat-label>
      <textarea matInput class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field appearance="outline">
      <mat-label>Acción</mat-label>
      <mat-select placeholder="Acción" (selectionChange)="selChange($event)" [(ngModel)]="AccionTexto">
        <mat-option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-12" *ngIf="clasificacion">
    <mat-form-field appearance="outline">
      <mat-label>Area</mat-label>
      <mat-select placeholder="Area" [(ngModel)]="cmbDestino">
        <mat-option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.obse }}</mat-option>
      </mat-select>

    </mat-form-field>
  </div>

  <div class="col-md-12" *ngIf="vplazo">
    <div class="form-group" style="width:100%">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Plazo / Alerta</mat-label>
        <input matInput [matDatepicker]="ypicker" [(ngModel)]="extender_plazo">
        <mat-datepicker #ypicker></mat-datepicker>
        <mat-icon matSuffix (click)="ypicker.open()">event</mat-icon>
      </mat-form-field>
    </div>

  </div>


  <hr>
  <div class="text-right">

    <button class="btn bg-gradient-info text-white " (click)="insertarObservacion();closeDialog()" id="btnaceptar">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-warning" aria-label="Close" (click)="closeDialog()">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>

  </div>
</ng-template>




<ng-template #detalle let-modal>


  <div class="row align-items-center">
    <div class="col">
      <h4 class="modal-title text-blue" id="modal-basic-title">Detalles generales del reporte</h4>
    </div>
    <div class="col text-right">
      <a href="#!" class="btn btn-sm btn-dark">Ver historial</a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 texto-informacion">
      Código Reporte: {{Codigo}}<br>
      Categoria: {{Categoria}}<br>
      Tipo de Reporte: {{TipoReporte | uppercase}}<br>
      Quien remite: V.-{{Cedula}} {{Nombre | uppercase}} <br>
      <hr>
      {{Contenido | uppercase}} <br>
      <hr>

    </div>
  </div>


  <div class="row">

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="Correo Electrónico" [(ngModel)]="Correo" value="{{Correo  | uppercase}}"
          disabled="disabled">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Teléfonos: </mat-label>
        <input matInput placeholder="Teléfonos: " [(ngModel)]="Telefonos" value="{{Telefonos}}" disabled="disabled">
      </mat-form-field>
    </div>
  </div>



  <div class="text-right">
    <button class="btn btn-primary" aria-label="Close" (click)="closeDialog()">
      Aceptar</button>

  </div>
</ng-template>