<ngx-ui-loader [loaderId]="'loader-document'"></ngx-ui-loader>




<div class="col-md-12" *ngIf="!blDoc">
  <app-maestro ssetable="{{ssetable}}"></app-maestro>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
        <td mat-cell *matCellDef="let e"> {{e.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>
        <td mat-cell *matCellDef="let e"> {{e.description}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> FECHA </th>
        <td mat-cell *matCellDef="let e"> {{e.fecha}} </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ACCION </th>
        <td mat-cell *matCellDef="let e">
          <button mat-icon-button aria-label="Editar" (click)="editar(e)">
            <mat-icon class="texto-gray">edit</mat-icon>
          </button>
          <button *ngIf="!blSection" mat-icon-button aria-label="Editar" (click)="config(e)">
            <mat-icon class="texto-gray">settings</mat-icon>
          </button>
          <button *ngIf="blSection"  mat-icon-button aria-label="Configurar" (click)="folder(e)">
            <mat-icon class="texto-gray">folder</mat-icon>
          </button>
        </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecione la pagina">
    </mat-paginator>
  </div>

</div>

<div class="col-md-12" *ngIf="blDoc">
  

</div>

<br><br>

<ng-template #wzconfig let-modal>
  <app-wzconfig xdocument="{{xdocument}}"></app-wzconfig>
</ng-template>
